<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Embed</title>
</head>
<body>
    Hello Embed Go !
    <button type="button" onclick="location.href='/second'">이동</button>
</body>
</html>