<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Embed</title>
</head>
<body>
    Second!
    <button type="button" onclick="location.href='/'">돌아가기</button>
</body>
</html>